* {
	margin: 0;
	padding: 0;
}
.outer {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid green;
}

.inner {
	width: 1000px;
}

.inner p {
	line-height: 100px;
	color: #000000;
}

.a {
	width: 100px;
	height: 100px;
	padding: 20px;
	border: 1px solid green;
	position: relative;
}